/* properties for the body of the HTML page */
body {
    /* color properties or color variables
    - defind it once here and reference these variables throughout the style.css
    - to declare a variable in CSS, come up with a name for the variable, then append two hyphens (–) as the prefix */
    --color-primary: #6d962c;
    --color-primary-dark: #3b6648;
    --color-secondary: #1c437a;
    --color-error: #f02929;
    --color-success: #09893e;
    --border-radius: 8px;


    /* image properties
    - background image is in pics folder not root 
    - could not get this image to display in express in ejs until I put "../" in front of the images folder
    - In short - You have to provide a path relative to css to image */
    background-image: url("../images/loginPageBackground.jpg");


    /* layout property */
    margin: 0;
    
    /* vh= vertical height
    - without this the whole form push all the up against the very top of the page */
    height: 100vh;

    /* display: flex; tell CSS that we are using flex box to manipulate the boxes (div) in HTML */
    /* this one and the two below will center vertically and horizontally our container for both of the forms */
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* this will cover the entire width of the form */
    background-size: cover;
}


/* styling of container
- when you get to smaller device it will shrink down to what it need to be */
.container {
    width: 400px;
    max-width: 400px;
}


/* common styling items inside of the container */
.container,
.loginInputField,
.formButton {
    /* customizing a font with google links >https://fonts.google.com/ */
    font: 500 1rem 'Noto Sans', sans-serif;

    /* default base font size is 16px
    - default font color is black */
    color: white;
}


/* common styling of all the messages on the forms */
.errorMessagesOnForm {
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    color: var(--color-error);
}


/* common styling af all login input field on the forms */
.loginInputField {
    margin-bottom: 1rem;

    /* centering does not seem to function correctly if display is not set to block */
    display: block;
    width: 100%;
    /* padding: 0.75rem; */
    box-sizing: border-box;    
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    outline: none;
    background-color: transparent;

    /* if I don't specify the color here than when user type in the field the font is black */
    color: white;
        
    /* coloring the cursor inside of the input field */
    caret-color: var(--color-primary);

    /* animating the input field and transition in color when it is in focus.
    - transition: background 0.2s, border-color 0.2s; */
    transition: background 0.2s, border-color 0.2s;
}


/* The color inside the input field change color when your cursive are in it. */
.loginInputField:focus {
    border-color: var(--color-primary);
}


/* the input field color change when a error is entered */
/* .loginInputField-error {
    color: var(--color-error);
    border-color: var(--color-error);
} */


/* common styling af all login input field on the forms */
.registrationInputField {
    margin-bottom: 1rem;

    /* centering does not seem to function correctly if display is not set to block */
    display: inline;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;    
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    outline: none;
    background-color: transparent;

    /* if I don't specify the color here than when user type in the field the font is black */
    color: white;
        
    /* coloring the cursor inside of the input field */
    caret-color: var(--color-primary);

    /* animating the input field and transition in color when it is in focus.
    - transition: background 0.2s, border-color 0.2s; */
    transition: background 0.2s, border-color 0.2s;
}


/* rigistration first name field property */
#firstName {
    width: 170px;
}


/* rigistration first name field property */
#middleInitial {
    width: 50px;
}


  
/* rigistration first name field property */
#lastName {
    width: 171px;
}





/* styling the button in the forms */
.formButton {
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    border: none;
    cursor: pointer;

    /* if display is not set to block it will not center */
    display: block;
    position: relative;
    margin: 0 auto;
}


/* when pointer are on the "login" button */
.formButton:hover {
    color: var(--color-primary)
}


/* when we actually click on the button
- the sign in font will shrink */
.formButton:active {
    transform: scale(0.90);
}


/* Two lines of text on the bottom of the form that have link */
.linkTextOnForm {
    text-align: center;
}


/* Setting property for the two links on the the bottom of the page */
.formLink {
    cursor: pointer;
    font-size: 0.75rem;
}


/* when pointer are on the link text */
.formLink:hover {
    color: var(--color-primary)
}


/* when we actually click on the link text
- the font will shrink */
/* .formLink:active {
    transform: scale(0.90);
} */

.hideForm {
    display: none;
}


.formHeading {
    text-align: center;
    margin-bottom: 4rem;
}